.text-label {
  margin: 0;
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
  font-weight: var(--weight-regular);
}
.text-paragraph {
  margin: 0;
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: var(--weight-regular);
}
.text-subtitle {
  margin: 0;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: var(--weight-semibold);
}
.text-title {
  margin: 0;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--weight-semibold);
}
.text-heading {
  margin: 0;
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-2xl);
  font-weight: var(--weight-semibold);
}
.text-display {
  margin: 0;
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-3xl);
  font-weight: var(--weight-semibold);
}
.text-muted {
  color: var(--color-muted);
}
